.header {
    padding: 20px;
    text-align: center;
    line-height: 80%;
}

.prototype1stuff, .prototype2stuff, .prototype3stuff {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.prototype1, .prototype2, .prototype3 {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

rb {
    font-size: 0.8em;
    line-height: 1.2;
    letter-spacing: normal;
    word-spacing: 0.1em;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
}

rt {
    font-size: 16px;
}
